{% extends 'main.html' %}
{% block content %}
<h1 class='heading1'>Submit an abstract</h1>
  <form action="" method="post" class="submit">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label}}<br>
            {{ form.title(cols=32, rows=4) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.abstract.label }}<br>
            {{ form.abstract(cols=32, rows=14) }}<br>
            {% for error in form.abstract.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
