{% extends 'main.html' %}
{% block content %}
<h1 class="heading1">Your submissions</h1>
<hr>
  {% for post in posts %}
  <article>
        <div class="post">
          <h1 class="heading1">{{post['title']}}</h1>
          <div class="about">
          <p>Author: {{post.author.username}}</p>
          </div>
          <p>{{post.abstract}}</p>
          </div>
        <div>
          <div class="button1">
            <a href="">Edit</a>
          </div>
          <div class="button1">
            <a href="{{url_for('delete_post', username=current_user.username, id=post.id)}}">Delete?</a>
          </div>
        </div>
    </article>
    {% if not loop.last %}
      <hr class="post">
    {% endif %}
  {% endfor %}
  <br>
  <br>
  {% if prev_url %}
  <div class="continue">
    <a href="{{ prev_url }}">Newer posts</a>
  </div>
    {% endif %}
    {% if next_url %}
    <div class="continue">
    <a href="{{ next_url }}">Older posts</a>
    </div>
    {% endif %}
{% endblock %}