{% extends 'main.html' %}

{% block content %}
  <div class="post">
  <h1 class="heading1">Published papers</h1>
  </div>
  {% for post in posts %}
    <article>
        <div class="post">
          <h1>{{ post['title'] }}</h1>
          <div class="post-about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      <p class="post-body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}