{% extends 'main.html' %}

{% block header %}
  <h1>{% block title %}Posts for review{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Papers open for review</h1>
  {% for post in posts %}
    <article class="post">
        <div>
          <h1><a href="{{ url_for('stream.review_paper', id=post['id']) }}">{{post['title']}}</a></h1>
          <div class="post-about">Submitted on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
    </article>
  {% endfor %}
{% endblock %}