{% extends 'main.html' %}

<!--{% block header %}
  <h1>{% block title %}Posts for review{% endblock %}</h1>
{% endblock %}
-->
{% block content %}
  {% for post in posts %}
  <article>
        <div class="post">
          <h1 class="heading1">{{post['title']}}</h1>
          <div class="about">
          <p>Submitted {{post['created'].strftime('%B %d, %Y') }}</p>
          </div>
          <p>{{post['abstract']}}</p>
          </div>
          <div class="continue">
            <a href="{{ url_for('stream.review_paper',
            id=post['id'])}}">Continue reading</a>
          </div>
    </article>
    {% if not loop.last %}
      <hr class="post">
    {% endif %}
  {% endfor %}
{% endblock %}