<!DOCTYPE html>
<html lang="en">
<head>
   <title> OpenPaper</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>
    <header>
    <h1>OpenPaper</h1>
    </header>
    <ul class="menu">
       <li> <a href='{{url_for('home') }}'>Home </a></li>
       <li> <a href='{{url_for('read') }}'>Read</a></li>
       <li> <a href='#'>Review</a></li>
       <li> <a href='{{url_for('submit') }}'>Submit</a></li>
       </ul>
    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>