<!DOCTYPE html>
<html lang="en">
<head>
   <title> OpenPaper</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>
    <header>
    <h1>OpenPaper</h1>
    </header>
    <ul class="menu">
       <li> <a href='{{url_for('home') }}'>Home </a></li>
       <li> <a href="{{url_for('stream.index') }}">Read</a></li>
       <li> <a href="{{url_for('stream.review')}}">Review</a></li>
       <li> <a href="{{url_for('stream.create') }}">Submit</a></li>
       <div style='width: 25%'></div>
       {% if g.user %}
       <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
       <li><span>User: {{g.user['username']}}</span>
       {% else %}
       <li><a href="{{ url_for('auth.register') }}">Register</a>
       <li><a href="{{ url_for('auth.login') }}">Log In</a>
       {% endif %}
    </ul>
    <div class='container'>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>