body {
        font-family: Helvetica, Arial, sans-serif;
        margin: 0;
        background: #272727;
        padding: 0px;
    }
    /* Style the top header*/
.container  {
    padding: 0px 0px;
    text-align: left;
}
    /* Style the navbar */
nav {
    display: flex;
    position: absolute;
    list-style-type: none;
    background: linear-gradient(90deg, #0F8B93 -17.1%, rgba(255, 255, 255) 193.44%);
    margin: 0;
    height: 94px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    top: 0;
}
nav img{
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-40%);
    padding-left: 30px;
}
nav h1 {
    position: relative;
    float: left;
    font-family: HammersmithOne;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
nav a {
    position: relative;
    float: left;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 30px;
    padding-right: 15px;
    margin-top: 0;
    
}
.post {
    position: relative;
    padding-left: 50px;
}
.post > h1 {
    margin-block-end: 0;
}
.post > h1 a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Merriweahter;
    font-style:normal;
    font-weight: 400;
    font-size: 26px;
    margin-block-end: 0px;
}
.post > p {
    font-family: Merriweather;
    color: #FFFFFF;
    max-width: 900px;
    
}
hr.post {
    color:#FFFFFF;
    width: 900px; 
    margin-left: 50px;
    margin-top: 20px;
}
.post .about > p {
    font-family: Merriweahter;
    font-style:normal;
    font-weight: 200;
    font-size: 16px;
    color:#FFFFFF;
    margin-top: 12px;
}
.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 225px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    margin-left: 50px;
}
.continue > a {
    text-decoration: none;
    font-family: Merriweahter;
    font-style:normal;
    font-weight: 200;
    font-size: 16px;
    color:#FFFFFF;
}

nav .account {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    height: 61px;
    width: 175px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30.5px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
}
nav .account a {
    float: right;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding: 0;
    top: 65%;
}
.auth input[type=text] {
    width: 575px;
    height: 60px;
    margin-bottom: 20px;
    background: #272727;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Merriweather;
    font-size: 16px;
    padding: 12px 20px;
}
.auth input[type=password] {
    width: 575px;
    height: 60px;
    margin-bottom: 20px;
    background: #272727;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    padding: 12px 20px;
}
.auth label {
    display: block;
    color: #FFFFFF;
    font-family: Merriweather;
    padding-bottom: 10px;
    padding-left: 10px;
}
.auth input[type=submit] {
    display: block;
    width: 175px;
    height: 50px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    color: #272727;
    font-family: Merriweather;
    font-size: 20px;
}
.auth .register input[type=submit] {
    display: block;
    width: 175px;
    height: 50px;
    background-color: #272727;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    color: #272727;
    font-family: Merriweather;
    font-sixtze: 20px;
}
.register-button {
    display: flex;
    justify-content: center;
    width: 175px;
    height: 50px;
    background-color: #272727;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
}
.register-button a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 20px;
    top: 50%;
    transform: translateY(-40%);
}
/* Style the links */
/* Change the color on hover*/
.flash {
    margin-top: 20px;
    color: #FFFFFF;
}
.heading1 {
    color:#FFFFFF;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 26px;
}
.heading2 {
    color:#FFFFFF;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
}
.submit input[type=text] {
    width: 650px;
    height: 60px;
    margin-bottom: 20px;
    background: #272727;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Merriweather;
    font-size: 16px;
    padding: 12px 20px;
}
.submit textarea {
    width: 750px;
    height: 200px;
    margin-bottom: 20px;
    background: #272727;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    padding: 12px 20px;
    font-family: Merriweather;
}
.submit textarea.body {
    height: 400px;
}
.submit label {
    display: block;
    color: #FFFFFF;
    font-family: Merriweather;
    padding-bottom: 10px;
    padding-left: 10px;
}
.submit input[type=submit] {
    display: block;
    width: 175px;
    height: 50px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    color: #272727;
    font-family: Merriweather;
    font-size: 20px;
}
.comments textarea {
    width: 350px;
    height: 150px;
    margin-bottom: 20px;
    background: #272727;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Merriweather;
    font-size: 16px;
    padding: 12px 20px;
}
.comments input[type=checkbox] {
    width: 15px;
    height: 15px;
}
.comments label{
    color: #FFFFFF;
    font-family: Merriweather;
    padding-bottom: 10px;
    padding-left: 10px;
}
.comments input[type=submit] {
    display: block;
    width: 175px;
    height: 50px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    color: #272727;
    font-family: Merriweather;
    font-size: 20px;
    margin-top: 20px;
}
.comments .about > p {
    color:#FFFFFF
}
.comments .body > p {
    color:#FFFFFF;
    width: 400px;
    
}
hr.comments {
    width: 400px;
    margin-left: 0px;
}
.column{
   flex: 60%; 
   margin-right: 30px;
}
.column2 {
    flex:40%;
}
.content {
    padding-top: 115px;
    padding-left: 30px;
    padding-bottom: 50px;
}
.row{
    display: flex;
}
/* Adding responsiveness to handle different screens*/
/* if less then 700px wide - stack column on top instead of next to. */
@media screen and (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}
/* If less then 400px wide stack links on top of each other */
@media screen and (max-width: 400px){
    .navbar a {
        float: none;
        width: 100%;
    }
}